---
---
<footer id="contacto">
  <div class="footer-container">
    <p>© 2025 Prestamos personales - Todos los derechos reservados</p>
  </div>
</footer>
<style>
    footer p {
    text-align: center;
    color: #888;
    font-size: 0.9rem;
}
</style>

